<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><title></title>
  <link rel="stylesheet" href="/stylesheets/style.css"><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.auth0.com/js/lock/10.3/lock.min.js"></script>
</head>
<body>
  <h1><i class="fa fa-lg fa-pie-chart"></i><span>Awesome Polls</span></h1><h2>Welcome to the Awesome Polls Administrator website.</h2><p>To access the polls, please login.</p><br><a href="/login"><button>Login</button></a></body></html>
